In [86]:
import sqlite3

# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/chembl_33.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT COUNT(*) FROM target_dictionary LIMIT 30;"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

(15398,)

In [87]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print([x[0] for x in cursor.fetchall()])
print()

['action_type', 'assay_type', 'chembl_id_lookup', 'confidence_score_lookup', 'curation_lookup', 'chembl_release', 'source', 'relationship_type', 'target_type', 'variant_sequences', 'bioassay_ontology', 'data_validity_lookup', 'activity_smid', 'activity_stds_lookup', 'assay_classification', 'atc_classification', 'bio_component_sequences', 'component_sequences', 'protein_classification', 'domains', 'go_classification', 'structural_alert_sets', 'products', 'frac_classification', 'hrac_classification', 'irac_classification', 'research_stem', 'organism_class', 'patent_use_codes', 'usan_stems', 'version', 'cell_dictionary', 'docs', 'target_dictionary', 'tissue_dictionary', 'molecule_dictionary', 'activity_supp', 'component_class', 'component_domains', 'component_go', 'component_synonyms', 'structural_alerts', 'defined_daily_dose', 'product_patents', 'protein_class_synonyms', 'research_companies', 'assays', 'compound_records', 'binding_sites', 'biotherapeutics', 'compound_properties', 'compound_structural_alerts', 'compound_structures', 'molecule_atc_classification', 'molecule_frac_classification', 'molecule_hierarchy', 'molecule_hrac_classification', 'molecule_irac_classification', 'molecule_synonyms', 'target_components', 'target_relations', 'activities', 'assay_class_map', 'assay_parameters', 'biotherapeutic_components', 'drug_indication', 'drug_mechanism', 'drug_warning', 'formulations', 'metabolism', 'site_components', 'activity_properties', 'activity_supp_map', 'indication_refs', 'ligand_eff', 'mechanism_refs', 'metabolism_refs', 'predicted_binding_domains', 'warning_refs', 'sqlite_stat1']

In [88]:
conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "PRAGMA table_info(compound_properties);"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

(0, 'molregno', 'BIGINT', 1, None, 1)
(1, 'mw_freebase', 'NUMERIC(9, 2)', 0, None, 0)
(2, 'alogp', 'NUMERIC(9, 2)', 0, None, 0)
(3, 'hba', 'INTEGER', 0, None, 0)
(4, 'hbd', 'INTEGER', 0, None, 0)
(5, 'psa', 'NUMERIC(9, 2)', 0, None, 0)
(6, 'rtb', 'INTEGER', 0, None, 0)
(7, 'ro3_pass', 'VARCHAR(3)', 0, None, 0)
(8, 'num_ro5_violations', 'SMALLINT', 0, None, 0)
(9, 'cx_most_apka', 'NUMERIC(9, 2)', 0, None, 0)
(10, 'cx_most_bpka', 'NUMERIC(9, 2)', 0, None, 0)
(11, 'cx_logp', 'NUMERIC(9, 2)', 0, None, 0)
(12, 'cx_logd', 'NUMERIC(9, 2)', 0, None, 0)
(13, 'molecular_species', 'VARCHAR(50)', 0, None, 0)
(14, 'full_mwt', 'NUMERIC(9, 2)', 0, None, 0)
(15, 'aromatic_rings', 'INTEGER', 0, None, 0)
(16, 'heavy_atoms', 'INTEGER', 0, None, 0)
(17, 'qed_weighted', 'NUMERIC(3, 2)', 0, None, 0)
(18, 'mw_monoisotopic', 'NUMERIC(11, 4)', 0, None, 0)
(19, 'full_molformula', 'VARCHAR(100)', 0, None, 0)
(20, 'hba_lipinski', 'INTEGER', 0, None, 0)
(21, 'hbd_lipinski', 'INTEGER', 0, None, 0)
(22, 'num_lipinski_ro5_violations', 'SMALLINT', 0, None, 0)
(23, 'np_likeness_score', 'NUMERIC(3, 2)', 0, None, 0)

In [89]:
conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "PRAGMA table_info(activities);"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

(0, 'activity_id', 'BIGINT', 1, None, 1)
(1, 'assay_id', 'BIGINT', 1, None, 0)
(2, 'doc_id', 'BIGINT', 0, None, 0)
(3, 'record_id', 'BIGINT', 1, None, 0)
(4, 'molregno', 'BIGINT', 0, None, 0)
(5, 'standard_relation', 'VARCHAR(50)', 0, None, 0)
(6, 'standard_value', 'NUMERIC', 0, None, 0)
(7, 'standard_units', 'VARCHAR(100)', 0, None, 0)
(8, 'standard_flag', 'SMALLINT', 0, None, 0)
(9, 'standard_type', 'VARCHAR(250)', 0, None, 0)
(10, 'activity_comment', 'VARCHAR(4000)', 0, None, 0)
(11, 'data_validity_comment', 'VARCHAR(30)', 0, None, 0)
(12, 'potential_duplicate', 'SMALLINT', 0, None, 0)
(13, 'pchembl_value', 'NUMERIC(4, 2)', 0, None, 0)
(14, 'bao_endpoint', 'VARCHAR(11)', 0, None, 0)
(15, 'uo_units', 'VARCHAR(10)', 0, None, 0)
(16, 'qudt_units', 'VARCHAR(70)', 0, None, 0)
(17, 'toid', 'INTEGER', 0, None, 0)
(18, 'upper_value', 'NUMERIC', 0, None, 0)
(19, 'standard_upper_value', 'NUMERIC', 0, None, 0)
(20, 'src_id', 'INTEGER', 0, None, 0)
(21, 'type', 'VARCHAR(250)', 1, None, 0)
(22, 'relation', 'VARCHAR(50)', 0, None, 0)
(23, 'value', 'NUMERIC', 0, None, 0)
(24, 'units', 'VARCHAR(100)', 0, None, 0)
(25, 'text_value', 'VARCHAR(1000)', 0, None, 0)
(26, 'standard_text_value', 'VARCHAR(1000)', 0, None, 0)
(27, 'action_type', 'VARCHAR(50)', 0, None, 0)

In [90]:
conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT canonical_smiles FROM compound_structures WHERE molregno IS 180094"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

('c1ccc(-c2nc3c(-c4nc5ccccc5o4)cccc3o2)cc1',)

In [91]:
# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/chembl_33.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT * FROM target_dictionary WHERE tid IS 12052;"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

(12052, 'SINGLE PROTEIN', 'Arachidonate 12-lipoxygenase', 10116, 'Rattus norvegicus', 'CHEMBL2741', 0)

In [92]:
# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/chembl_33.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT * FROM target_dictionary WHERE tid IS '80704';"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

(80704, 'CELL-LINE', 'BJ', 9606, 'Homo sapiens', 'CHEMBL614358', 0)

In [93]:
from molytica_m.data_tools import id_mapping_tools

In [94]:
id_mapping_tools.chembl_to_af_uniprot("CHEMBL614358")

In [95]:
id_mapping_tools.tid_to_af_uniprot(226)

'P13945'

In [96]:
# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/chembl_33.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT * FROM assays WHERE assay_organism IS 'Homo sapiens' LIMIT 30;"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

(5, 17430, 'In vitro cell cytotoxicity against 143-B cell lines (Human osteosarcoma cell line)', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615121', 163, 'BAO_0000219', None, None, 'CLD0')
(6, 17430, 'In vitro cell cytotoxicity against 143-B cell lines (Human osteosarcoma cell line)', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615122', 163, 'BAO_0000219', None, None, 'CLD0')
(8, 17774, 'In vitro cell cytotoxicity was determined against 143B cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Expert', 1, None, 'CHEMBL615124', 163, 'BAO_0000219', None, None, 'CLD0')
(9, 3801, 'Inhibitory activity against tumor osteosarcoma cell line 143B after 72 hr continuous exposure to compound', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615125', 163, 'BAO_0000219', None, None, 'CLD0')
(10, 17430, 'In vitro cell cytotoxicity against 143B-LTK cell lines expressed in HSV-1 TK', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615126', 163, 'BAO_0000219', None, None, 'CLD0')
(11, 17430, 'In vitro cell cytotoxicity against 143B-LTK cell lines expressed in HSV-1 TK', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615127', 163, 'BAO_0000219', None, None, 'CLD0')
(12, 17774, 'In vitro cell cytotoxicity was determined against 143B-LTK cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, '143B', None, 80001, 'N', 1, 'Expert', 1, None, 'CHEMBL615128', 163, 'BAO_0000219', None, None, 'CLD0')
(45, 13163, 'The compound was tested at a concentration of 1 uM for inhibitory activity against 17 beta-hydroxysteroid dehydrogenase from human placental microsomes', 'B', None, None, 'Homo sapiens', 9606, None, None, None, None, 20001, 'H', 8, 'Autocuration', 1, None, 'CHEMBL615157', None, 'BAO_0000019', None, None, 'CLD0')
(46, 13163, 'The compound was tested at a concentration of 1 uM for inhibitory activity against 17 beta-hydroxysteroid dehydrogenase from human placental microsomes', 'B', None, None, 'Homo sapiens', 9606, None, None, None, None, 20001, 'H', 8, 'Autocuration', 1, None, 'CHEMBL615158', None, 'BAO_0000019', None, None, 'CLD0')
(56, 5116, 'Cytotoxicity against ovarian cancer cell line (1A-9) of humans was determined', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615179', 506, 'BAO_0000219', None, None, 'CLD0')
(60, 4787, 'In vitro effective concentration required to reduce the number of human ovarian cancer (1A9) after 3-day incubation', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Expert', 1, None, 'CHEMBL615183', 506, 'BAO_0000219', None, None, 'CLD0')
(61, 4787, 'In vitro effective concentration required to reduce the number of human ovarian cancer cells (1A9) after 3-day incubation', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615184', 506, 'BAO_0000219', None, None, 'CLD0')
(62, 3547, 'Cytotoxic activity against human ovarian cancer (1A9) cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615185', 506, 'BAO_0000219', None, None, 'CLD0')
(63, 3547, 'Cytotoxic activity against human ovarian cancer (1A9) cell line; ND=Not determined', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615186', 506, 'BAO_0000219', None, None, 'CLD0')
(64, 6726, 'Effective dose of compound against replication of 1A9 cell line was evaluated', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615187', 506, 'BAO_0000219', None, None, 'CLD0')
(65, 3455, 'In vitro cytotoxic activity was determined against ovarian cancer (1A9) cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Expert', 1, None, 'CHEMBL885343', 506, 'BAO_0000219', None, None, 'CLD0')
(66, 5726, 'In vitro cytotoxicity evaluated against human ovarian cancer (1A9 cell line)', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615188', 506, 'BAO_0000219', None, None, 'CLD0')
(67, 5726, 'In vitro cytotoxicity evaluated against human ovarian cancer (1A9 cell line); NA is not active', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615189', 506, 'BAO_0000219', None, None, 'CLD0')
(68, 5726, 'In vitro percent inhibition evaluated against human ovarian cancer (1A9 cell line) at >20 ug/mL', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615190', 506, 'BAO_0000219', None, None, 'CLD0')
(69, 3395, 'Inhibitory activity against Taxol resistant 1A9 cell lines', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615191', 506, 'BAO_0000219', None, None, 'CLD0')
(70, 3415, 'Cytotoxicity against human ovarian cancer (1A9) cell lines.', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Expert', 1, None, 'CHEMBL615192', 506, 'BAO_0000219', None, None, 'CLD0')
(71, 3415, 'Percentage inhibition of human ovarian cancer (1A9) cell lines.', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Expert', 1, None, 'CHEMBL827083', 506, 'BAO_0000219', None, None, 'CLD0')
(72, 17099, 'Effective dose required for inhibitory activity against 1A9 human tumor cell line.', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Expert', 1, None, 'CHEMBL615193', 506, 'BAO_0000219', None, None, 'CLD0')
(73, 17099, 'Percent inhibition against 1A9 human tumor cell line at 0.10 ug/mL', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615194', 506, 'BAO_0000219', None, None, 'CLD0')
(74, 17099, 'Percent inhibition against 1A9 human tumor cell line at <0.00008 ug/mL', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615195', 506, 'BAO_0000219', None, None, 'CLD0')
(75, 17099, 'Percent inhibition against 1A9 human tumor cell line at >10 ug/mL', 'F', None, None, 'Homo sapiens', 9606, None, None, '1A9', None, 80002, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615196', 506, 'BAO_0000219', None, None, 'CLD0')
(76, 17721, 'Inhibitory concentration against Jurkat cells', 'F', None, None, 'Homo sapiens', 9606, None, None, 'Jurkat', None, 81072, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615197', 503, 'BAO_0000219', None, None, 'CLD0')
(95, 17653, 'In vitro cytotoxic concentration required to inhibit hepatitisB virus (HBV) replication in 2.2.15 cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, 'HepG2', None, 81020, 'N', 1, 'Expert', 1, None, 'CHEMBL615274', 726, 'BAO_0000219', None, None, 'CLD0')
(96, 14277, '50% Effective concentration of compound required for inhibiting intracellular viral replicative intermediate DNA in HBV-transfected 2.2.15 cell line.', 'F', None, None, 'Homo sapiens', 9606, None, None, 'HepG2', None, 81020, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615275', 726, 'BAO_0000219', None, None, 'CLD0')
(97, 1717, 'Antiviral activity against Hepatitis B virus in 2.2.15 cell line', 'F', None, None, 'Homo sapiens', 9606, None, None, 'HepG2', None, 81020, 'N', 1, 'Intermediate', 1, None, 'CHEMBL615276', 726, 'BAO_0000219', None, None, 'CLD0')

In [97]:
from tqdm.notebook import tqdm
# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/chembl_33.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

for x in tqdm(range(0, 6749321, 1000), desc="loading"):
    # Execute a query (example: selecting 10 rows from a table)
    query = f"""
    SELECT activities.standard_type, activities.standard_relation, activities.standard_value, activities.standard_units, assays.tid, compound_structures.canonical_smiles, compound_properties.
    FROM activities 
    JOIN assays ON activities.assay_id = assays.assay_id
    JOIN compound_structures ON activities.molregno = compound_structures.molregno
    JOIN compound_properties ON activities.molregno = compound_properties.molregno
    WHERE assays.assay_organism = 'Homo sapiens'
    LIMIT 1000 OFFSET {x};
    """
    cursor.execute(query)
    
    # Fetch and print the results
    rows = cursor.fetchall()
    for row in rows:
        print(row)

# Close the connection
conn.close()

loading:   0%|          | 0/6750 [00:00<?, ?it/s]

OperationalError: near "FROM": syntax error

In [ ]:
import sqlite3
def filter_tid(tid):
    if id_mapping_tools.tid_to_af_uniprot(tid):
        return True
    return False

# Path to the original database
original_db_path = 'data/chembl/chembl_33.db'

# Path to the new database
new_db_path = 'data/chembl/smiles_alphafold_v4_human_uniprot_chembl_bioactivities.db'

# Connect to the original database
conn_original = sqlite3.connect(original_db_path)
cursor_original = conn_original.cursor()

# Connect to the new database (this will create the file if it doesn't exist)
conn_new = sqlite3.connect(new_db_path)
cursor_new = conn_new.cursor()

# Create a new table in the new database
cursor_new.execute("""
CREATE TABLE IF NOT EXISTS bioactivites (
    canonical_smiles VARCHAR(4000),
    af_4_human_uniprot VARCHAR(10),
    activity_type VARCHAR(250),
    activity_relation VARCHAR(50),
    activity_value NUMERIC,
    activity_unit VARCHAR(100),
    molregno BIGINT,
    mw_freebase NUMERIC(9, 2),
    alogp NUMERIC(9, 2),
    hba INTEGER,
    hbd INTEGER,
    psa NUMERIC(9, 2),
    rtb INTEGER,
    ro3_pass VARCHAR(3),
    num_ro5_violations SMALLINT,
    cx_most_apka NUMERIC(9, 2),
    cx_most_bpka NUMERIC(9, 2),
    cx_logp NUMERIC(9, 2),
    cx_logd NUMERIC(9, 2),
    molecular_species VARCHAR(50),
    full_mwt NUMERIC(9, 2),
    aromatic_rings INTEGER,
    heavy_atoms INTEGER,
    qed_weighted NUMERIC(3, 2),
    mw_monoisotopic NUMERIC(11, 4),
    full_molformula VARCHAR(100),
    hba_lipinski INTEGER,
    hbd_lipinski INTEGER,
    num_lipinski_ro5_violations SMALLINT,
    np_likeness_score NUMERIC(3, 2)
);
""")

total_rows = 6749321  # Adjust based on the total number of rows

for x in tqdm(range(0, total_rows, 2000000), desc="loading"):
    query = f"""
    SELECT compound_structures.canonical_smiles, assays.tid, activities.standard_type, activities.standard_relation, activities.standard_value, activities.standard_units, compound_properties.*
    FROM activities 
    JOIN assays ON activities.assay_id = assays.assay_id
    JOIN compound_structures ON activities.molregno = compound_structures.molregno
    JOIN compound_properties ON activities.molregno = compound_properties.molregno
    WHERE assays.assay_organism = 'Homo sapiens'
    LIMIT 2000000 OFFSET {x};
    """
    cursor_original.execute(query)
    rows = cursor_original.fetchall()
    
    for row in rows:
        if filter_tid(row[1]):  # Replace tid_column_index with the index of tid in the row
            new_row = list(row)
            new_row[1] = id_mapping_tools.tid_to_af_uniprot(new_row[1])

            cursor_new.execute("INSERT INTO bioactivites VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", tuple(new_row))  # Adjust the placeholders based on the number of columns

# Commit changes to the new database and close both connections
conn_new.commit()
conn_original.close()
conn_new.close()

In [ ]:
# Replace 'your_chembl_database_file.db' with the path to your ChEMBL SQLite file
database_path = 'data/chembl/smiles_alphafold_v4_human_uniprot_chembl_bioactivities.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

# Create a cursor object
cursor = conn.cursor()

# Execute a query (example: selecting 10 rows from a table)
query = "SELECT COUNT(*) FROM bioactivites WHERE activity_type IS 'EC50' LIMIT 30;"  # Replace 'your_table_name' with the actual table name
cursor.execute(query)

# Fetch and print the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

In [ ]:
3582142